html {
    scroll-behavior: smooth;
}
body{
	background-color: #FFFCF6;
}
.navbar{
	font-family: calibri; 
	padding-right: 55px;
	padding-left: 18px;
}
.navdiv{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
img{
	display: flex;
	height: 110px;
    width: 150px;
	padding-left: 40px;
}
li{
	list-style: none;
	display: inline-block;
}
li a{
	color: #5d5357;
	font-size: 17px;
	font-weight: bold;
	margin-right: 25px;
	text-decoration: none;
}
li a:hover{
	color: rgb(217,189,186)
}
.product h1 {
    text-align: center;
    font-size: 30px;
	background-color: #ddbab6;
}
.product table {
    align-items: center;
    margin-top: 70px; 
    margin-bottom: 20px; 
    width: 70%;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
.product th {
    text-align: center;
    padding: 8px;
    color: #5d5357;
    font-family: Arial, sans-serif;
}
.product td {
    padding: 25px;
    text-align: center;
    color: black;
    background-color: rgba(157, 134, 134, 0.3);
	text-align: justify;
}
.product img,
.prod img {
    width: 100px;
    height: 150px;
    margin-left: 90px;
    transition: transform 0.3s ease; 
}
.product img:hover,
.prod img:hover {
    transform: scale(1.1); 
}
.category {
    margin-bottom: 20px;
}

.category h2 {
    margin-bottom: 10px;
}
hr{
	margin-top: 95px;
	width:100%;
	border-width: 2px; 
    border-color: #5d5357;
	margin-bottom: 50px;
}
/*For Sale*/
/*Victorinox Swiss*/
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}
.product1 {
    display: flex;
    flex-wrap: wrap;
}
.product1 {
    width: calc(33.33% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.product1 img {
	margin-top: 10px;
    width: 75px;
    height: 100px;
}
.product1 button {
    background-color: #5d5357;
    color: white;
    border: none;
	border-radius:5px;
    padding: 5px 10px;
    cursor: pointer;
	margin-left:10px;
}
.product1 button:hover {
    background-color: #ddbab6;
}
/*TechnoMarine*/
.product2 {
    display: flex;
    flex-wrap: wrap;
}
.product2 {
    width: calc(33.33% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.product2 img {
    width: 75px;
    height: 105px;
}
.product2 p {
    margin-bottom: 5px;
	margin-right: 2%;
}
.product2 button {
    background-color: #5d5357;
    color: white;
    border: none;
	border-radius:5px;
    padding: 5px 10px;
    cursor: pointer;
	margin-right: 10%;
}
.product2 button:hover {
    background-color: #ddbab6;
}
/*Apple Watch*/
.product3 {
    display: flex;
    flex-wrap: wrap;
}
.product3 {
    width: calc(33.33% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.product3 img {
    width: 95px;
    height: 100px;
}
.product3 p {
    margin-bottom: 5px;
}
.product3 button {
    background-color: #5d5357;
    color: white;
    border: none;
	border-radius:5px;
    padding: 5px 10px;
    cursor: pointer;
}
.product3 button:hover {
    background-color: #ddbab6;
}
/*TAG*/
.product4 {
    display: flex;
    flex-wrap: wrap;
}
.product4 {
    width: calc(33.33% - 20px); 
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 10px;
}
.product4 img {
    width: 95px;
    height: 100px;
}
.product4 p {
    margin-bottom: 5px;
}
.product4 button {
    background-color: #5d5357;
    color: white;
    border: none;
	border-radius:5px;
    padding: 5px 10px;
    cursor: pointer;
}
.product4 button:hover {
    background-color: #ddbab6;
}
.quantity-input {
  width: 40px;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 5px;
  text-align: center;
  outline: none; 
}

.quantity-input:focus {
  border-color: #007bff; 
}